.main-body {
  font-family: 'Roboto', sans-serif;
  margin-top: 25%;
  margin-bottom: 75%;
}

.new-line {
  margin-bottom: 5%;
}

.social-links ul {
  list-style-type: none;
}

.social-links li {
  display: inline;
  float: left;
  padding-right: 9px;
}

.social-links a {
  text-decoration: none;
  font-size: 15px;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  -webkit-animation: wave-animation 2s infinite;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
